<table class="min-w-full divide-y divide-gray-200" *ngIf="students.length > 0; else noDataAvailable">
    <thead>
        <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Prénom</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nom</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date Nais</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Adresse</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Num Tel</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let student of students">
            <td class="px-6 py-4 whitespace-nowrap">{{student.id}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{student.first_name}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{student.last_name}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{student.date_of_birth}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{student.email}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{student.address}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{student.phone_number}}</td>
            <td class="px-6 py-4 whitespace-nowrap">
                <div class="relative inline-block text-left">
                    <div class="group">
                        <button type="button" class="inline-flex justify-center items-center w-full px-4 py-2 text-sm font-medium text-white bg-gray-800 hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
                            Action
                            <!-- Dropdown arrow -->
                            <svg class="w-4 h-4 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 12l-5-5h10l-5 5z" />
                            </svg>
                        </button>

                        <!-- Dropdown menu -->
                        <div class="absolute left-0 w-40 mt-1 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300 z-50">
                            <div class="py-1 -mt-4">
                                <a  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="editStudent(student.id)">Modifier</a>
                                <a  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="deleteStudent(student.id)">Supprimer</a>
                                <a  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Détails</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #noDataAvailable>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>
